.active{
	background: #FF0000;
	display: none;
}
.normal{
	background: #CCCCCC;
	display: block;
}
.inputActive{
	display: block;
}
.inputNormal{
	display: none;
}
.del{
	text-decoration: line-through;
}
span{
	padding: 2px;
	border: 1px solid #CCCCCC;
}
.main{
	margin:40px;
}